# Python
__pycache__/
*.py[cod]
*.env
.env
*.sqlite3
*.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Others
*.log
*.bak
*.swp

# VSCode
.vscode/*.apk
